/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b32222;
  --ifm-color-primary-dark: #a11f1f;
  --ifm-color-primary-darker: #981d1d;
  --ifm-color-primary-darkest: #7d1818;
  --ifm-color-primary-light: #c52525;
  --ifm-color-primary-lighter: #ce2727;
  --ifm-color-primary-lightest: #da3b3b;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #ff5252;
  --ifm-color-primary-dark: #ff3030;
  --ifm-color-primary-darker: #ff1f1f;
  --ifm-color-primary-darkest: #ec0000;
  --ifm-color-primary-light: #ff7474;
  --ifm-color-primary-lighter: #ff8585;
  --ifm-color-primary-lightest: #ffb7b7;
  --ifm-background-color: #0d0d0d;
}
